body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}


.maindiv {

    background-color: white; 
    width: px; 
    padding: 20px;
    border-radius: px;
    align:center;
}
